[Desktop Entry]
Encoding=UTF-8
Name=Link para dados - respostas formulário.csvCSV
Type=Link
URL=https://drive.google.com/file/d/1OQke-OQvI9e_CfPTFe2AwhEkkf1xObES/view?usp=classroom_web&authuser=0
Icon=mate-fs-bookmark
